{% load static %}
<!DOCTYPE html>
<html>
<head>
   <title>Fefu_lab - {% block title %}{% endblock %}</title>
   <link rel="stylesheet" href="{% static 'university/css/style.css' %}">
</head>
<body>
    <div class="navigation">
        <a href="{% url 'home' %}">Главная</a> |
        <a href="{% url 'about' %}">О нас</a> |
        <a href="{% url 'feedback' %}">Обратная связь</a> |
        {% if user.is_authenticated %}
            {% if user.is_staff %}
                <a href="{% url 'admin_dashboard' %}">Админ-панель</a> |
            {% elif user.student %}
                <a href="{% url 'student_dashboard' %}">Личный кабинет</a> |
            {% elif user.instructor %}
                <a href="{% url 'teacher_dashboard' %}">Личный кабинет</a> |
            {% endif %}
            <a href="{% url 'logout' %}">Выйти</a> |
        {% else %}
            <a href="{% url 'registration' %}">Регистрация</a> |
            <a href="{% url 'login' %}">Вход</a> |
        {% endif %}
        <a href="{% url 'student_list' %}">Студенты</a> |
        <a href="{% url 'course_list' %}">Курсы</a> |
        <a href="{% url 'instructor_list' %}">Преподаватели</a>
    </div>
    <div class="container">
        <h1>{% block heading %}{% endblock %}</h1>
        {% block content %}{% endblock %}
    </div>
</body>
</html>