{% load static %}
<!DOCTYPE html>
<html>
<head>
   <title>Fefu_lab - {% block title %}{% endblock %}</title>
   <link rel="stylesheet" href="{% static 'university/css/style.css' %}">
</head>
<body>
    <div class="navigation">
        <a href="/">Главная</a> |
        <a href="/about/">О нас</a> |
        <a href="/feedback/">Обратная связь</a> |
        <a href="/register/">Регистрация</a> |
        <a href="/login/">Вход</a> |
        <a href="/student/1/">Пример студента</a> |
        <a href="/course/python-basics/">Курс Python</a>
    </div>
    <div class="container">
        <h1>{% block heading %}{% endblock %}</h1>
        {% block content %}{% endblock %}
    </div>
</body>
</html>

