{% extends "university/base.html" %}
{% block title %}Запись на курс{% endblock %}
{% block content %}
<h1>Запись на курс</h1>
{% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        <div>
            <p>Вы уверены, что хотите записаться на курс "{{ course.title }}"?</p>
        </div>
        <button type="submit">Записаться</button>
    </form>
{% else %}
    <p>Чтобы записаться на курс, необходимо <a href="{% url 'login' %}">войти</a> или <a href="{% url 'registration' %}">зарегистрироваться</a>.</p>
{% endif %}
{% endblock %}
