{% extends "university/base.html" %}
{% block title %}Профиль студента{% endblock %}
{% block heading %}Профиль студента{% endblock %}
{% block content %}
<p><strong>Имя:</strong> {{ student.first_name }} {{ student.last_name }}</p>
<p><strong>Email:</strong> {{ student.email }}</p>
<p><strong>Факультет:</strong> {{ student.get_faculty_display }}</p>
<p><strong>Дата рождения:</strong> {{ student.birth_date|date:"d.m.Y" }}</p>
<a href="{% url 'student_list' %}" class="btn">Назад к студентам</a>
{% endblock %}
